[Desktop Entry]
Version=1.0
Type=Application
Name=Cheetahdex Wallet
Exec=./CheetahdexWallet
Icon=./CheetahdexWallet.svg
Categories=Office;Finance;
Terminal=false
StartupNotify=true